<div>
  <h2>{{title}}</h2>

  <div class="row">
    <div class="col-xs-2">No.</div>
    <div class="col-xs-10">{{user.userId}}</div>
  </div>

  <div class="row">
    <div class="col-xs-2">name</div>
    <div class="col-xs-10">{{user.name}}</div>
  </div>

  <div class="row">
    <div class="col-xs-2">createdtime</div>
    <div class="col-xs-10">{{user.createdTime}}</div>
  </div>

  <div class="row">
    <div class="col-xs-2">memo1</div>
    <div class="col-xs-10">{{user.memo}}</div>
  </div>
</div>
